<div class="panel" style="height: 65px;">
    <div class="row">
        <p style="text-align: center;">@&nbsp;wall-flower</p>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/foundation.min.js"></scirpt>
</html>