<div class="panel" style="height: 90px;">
    <div class="row">
        <p style="text-align: center;">powered by wall-flower<small></small></p>
        <p style="text-align: center;"><small>♥ Do have faith in what you're doing.</small></p>
    </div>
</div>
<div id="myModal" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="large-5 columns">
            <h3>Quickly start Timeline</h3>
        </div>
        <div class="large-5 columns">
            <form action="/reg" method="post">
                <input name="username" type="text" placeholder="username"/>
                <input name="password" type="password" placeholder="password"/>
                <input name="email" type="text" placeholder="email"/>
                <button type="submit" class="button"/>
            </form>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/foundation.min.js"></scirpt>
<script type="text/javascript" src="/js/foundation.reveal.js"></script>
<script>
    $(document).foundation();
</script>

</html>
