<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/foundation.min.css"/>
    <link rel="stylesheet" href="/style/style.css"/>
    <link rel="stylesheet" href="/style/typo.css"/>
</head>
<body>

<div class="contain-to-grid stick">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Timeline</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
            <!--Right Nav Section -->
            <ul class="right">

                <% if(!user) { %>
                <li><a data-reveal-id="myModal" data-reveal href="#">Sign Up</a></li>
                <% }else{ %>



                <li><a href="#"><%= user.username %></a></li>
                <li><a href="/logout">注销</a></li>
                <% } %>


            </ul>

            <!-- Left Nav Section -->
            <!--<ul class="left">-->
            <!--<li><a href="#">Timeline-index</a></li>-->
            <!--</ul>-->
        </section>
    </nav>
</div>