<%- include header.ejs %>
<br/>
<div class="row">
    <div class="large-9 columns">
        <form action="post" method="post">
            <div class="panel radius">
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            <textarea id="content" name="content" style="height: 91px;" placeholder=""></textarea>
                        </label>
                        <button type="submit" class="button [tiny small large]" />
                    </div>
                </div>
            </div>
        </form>
            <% posts.forEach(function(post, index){ %>
            <div class="panel radius" id="timeline_panel">
                <p><%= post.content %></p>
                -<span style="color:#777777">by <a href="#">user</a></span>
                <span class="floatRightSpan"><%= post.time.minute %></span>
            </div>
            <% }) %>


    </div>
    <div class="large-3 columns">
        <div class="panel radius">
            <h3 style="text-align: center;">Hello,world:)</h3>
        </div>
    </div>
</div>


<%- include footer.ejs %>