<%- include header.ejs %>
<br/>
<div class="row">
    <div class="large-9 columns">
        <form action="post" method="post">
            <div class="panel radius">
                <div class="row">
                    <div class="large-12 columns">
                        <textarea id="content" name="content" placeholder="说点什么吧"></textarea>
                        <button id="content_sub" type="submit" class="button" />
                    </div>
                </div>
            </div>
        </form>
            <% posts.forEach(function(post, index){ %>
            <div class="panel radius" id="timeline_panel">
                <p><%= post.content %></p>
                -<span style="color:#777777">by <a href="#">user</a></span>
                <span class="floatRightSpan"><%= post.time.minute %></span>
            </div>
            <% }) %>


    </div>
    <div class="large-3 columns">

        <div class="panel radius">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button type="submit" class="button" />
        </div>

    </div>
</div>


<%- include footer.ejs %>